.btn {
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: transparent;
    white-space: nowrap;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-black);
    transition: all var(--transition) ease-out;
}

.btn:disabled,
.btn.disabled {
    cursor: not-allowed;
    background: var(--accent-secondary) !important;
    color: var(--white-40) !important;
}

.rounded {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 100%;
    border-radius: 50%;
    border: 1px solid var(--color-black-border);
}

.rounded:hover,
.rounded:active {
    background: var(--color-yellow);
    border-color: var(--color-orange);
}

.outline {
    display: inline-flex;
    height: 52px;
    padding: 17px 26px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: var(--color-white);
    border-radius: 25px;
    border: 1px solid var(--color-white);
    transition: all ease .3s;
}

.outline:hover {
    background: var(--color-orange);
    border-color: var(--color-orange);
}

.outline:active {
    background: var(--color-yellow);
    border-color: var(--color-orange);
}
