.label {
    display: block;
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 140%;
    white-space: nowrap;
    margin-bottom: 0.538em;
    color: var(--black-100);
    transition: color var(--transition);
}
